version: "3.8"

services:
  php:
    container_name: php
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /var/www/html
    volumes:
      - ./symfony:/var/www/html
    depends_on:
      - db
    expose:
      - "9000"
    environment:
      - DATABASE_URL=pgsql://symfony:Hjk34m!zQ8@db:5432/symfony
    command: php-fpm -F

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: symfony
      POSTGRES_USER: symfony
      POSTGRES_PASSWORD: Hjk34m!zQ8
    volumes:
      - db_data:/var/lib/postgresql/data

  caddy:
    image: caddy:2
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./symfony:/var/www/html
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - php

volumes:
  db_data:
  caddy_data:
  caddy_config:
